[project]
	description = A lightweight ticket manager for development teams
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Charles-François Caron (charlescaron)
[access "refs/for/refs/*"]
	read = group user/Charles-François Caron (charlescaron)
	push = group user/Charles-François Caron (charlescaron)
	label-Code-Review = -2..+2 group user/Charles-François Caron (charlescaron)
	label-Verified = -1..+1 group user/Charles-François Caron (charlescaron)
	rebase = group user/Charles-François Caron (charlescaron)
	removeReviewer = group user/Charles-François Caron (charlescaron)
	submit = group user/Charles-François Caron (charlescaron)
[access "refs/heads/*"]
	read = group user/Charles-François Caron (charlescaron)
	create = group user/Charles-François Caron (charlescaron)
	push = +force group user/Charles-François Caron (charlescaron)
	pushMerge = group user/Charles-François Caron (charlescaron)
[access "refs/tags/*"]
	push = +force group user/Charles-François Caron (charlescaron)
	pushTag = group user/Charles-François Caron (charlescaron)
	pushSignedTag = group user/Charles-François Caron (charlescaron)
