<form novalidate class="form-inline" role="form">
    <div class="form-group">
        <input id="create_ticket_id" class="form-control" ng-model="ticket.title" placeholder="Title" size="50"/>
    </div>
    <div>
        <textarea id="create_ticket_description" class="form-control" ng-model="ticket.description" placeholder="Description" rows="10" cols="50"></textarea>
    </div>
    <input id="create_ticket_env" class="form-control" ng-model="ticket.environment" placeholder="Environment" size="50"/>
    <button ng-click="saveTicket(ticket)" type="button" class="btn btn-default">Save</button>
</form>

