
    <div class="row alt">
        <div class="col-lg-2 column">
            <h3>Environment</h3>
            <form role="form" name="envForm" novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-10" style="padding-right:0px" ng-class="{'has-error': envForm.name.$error.required && envForm.name.$dirty}">
                            <input name="name" class="form-control" type="text" placeholder="New environment" ng-model="newEnvironment" maxlength="30" required/>
                        </div>
                        <div class="col-xs-2" style="padding-left:0px">
                            <button class="btn btn-default bt-xs" ng-click="createEnvironment(); envForm.$setPristine()" ng-disabled="envForm.$invalid">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="list-unstyled">
                <li class="environment"
                    ng-repeat="environment in environments track by $index"
                    ng-class="{selected: ticket.env.name == environment.name}"
                    ng-click="selectEnvironment(environment)">
                    <p>{{environment.name}}</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 column">
            <h3>Problem</h3>
            <form role="form" name="problemForm" novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-10" style="padding-right:0px" ng-class="{'has-error': problemForm.name.$error.required && problemForm.name.$dirty}">
                            <input name="name" class="form-control" type="text" placeholder="New problem" ng-model="newProblem" maxlength="30" required/>
                        </div>
                        <div class="col-xs-2" style="padding-left:0px">
                            <button class="btn btn-default bt-xs" ng-click="createProblem(); problemForm.$setPristine()" ng-disabled="problemForm.$invalid">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="list-unstyled">
                <li class="problem"
                    ng-repeat="problem in problems track by $index"
                    ng-class="{selected: ticket.problem.name == problem.name}"
                    ng-click="selectProblem(problem)">
                    <p >{{problem.name}}</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 column">
            <h3>Brand</h3>
            <form role="form" name="brandForm" novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-10" style="padding-right:0px" ng-class="{'has-error': brandForm.name.$error.required && brandForm.name.$dirty}">
                            <input name="name" class="form-control" type="text" placeholder="New brand" ng-model="newBrand" maxlength="30" required/>
                        </div>
                        <div class="col-xs-2" style="padding-left:0px">
                            <button class="btn btn-default bt-xs" ng-click="createBrand(); brandForm.$setPristine()" ng-disabled="brandForm.$invalid">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="list-unstyled">
                <li class="brand"
                    ng-repeat="brand in brands track by $index"
                    ng-class="{selected: ticket.brand.name == brand.name}"
                    ng-click="selectBrand(brand)">
                    <p >{{brand.name}}</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 column">
            <form role="form" name="ticketForm" novalidate>
                <div class="form-group" ng-class="{'has-error': ticketForm.name.$error.required && ticketForm.name.$dirty}">
                    <label for="ticketName">What are we talking about ?</label>
                    <input id="ticketName" type="text" class="form-control" name="name" ng-model="ticket.name" required/>
                </div>
                <div class="form-group">
                    <label for="ticketDescription">Elaborate a bit please</label>
                    <textarea id="ticketDescription" class="form-control" cols="50" rows="10" name="description" ng-model="ticket.description"></textarea>
                </div>
                <div class="form-group">
                    <label>How serious is this ?</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="severity" data-ng-model="ticket.severity" value="2" checked>
                            <p class="bg-danger">Stop whatever you are doing and get to it! TOP PRIORITY.</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="severity" data-ng-model="ticket.severity" value="1">
                            <p class="bg-warning">It's okay, keep breathing. Within the week is fine. MEDIUM PRIORITY</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="severity" data-ng-model="ticket.severity" value="0">
                            <p class="bg-info">Seriously ? How can this be a problem ? LOW PRIORITY</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="severity" data-ng-model="ticket.severity" value="-1">
                            <p class="">Not quite sure yet... NO PRIORITY</p>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="createTicket(); ticketForm.$setPristine()" ng-disabled="ticketForm.$invalid">Create ticket</button>
                </div>
                <div class="alert alert-danger" ng-show="error">
                    <p ng-repeat="message in error.data.errors">{{message.msg}}</p>
                </div>
            </form>
        </div>
    </div>
